body{
    background-image:url(../images/jobback.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 0;
    background: linear-gradient(to ri);
    

    

    }
/* Nav Bar Style */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 10px; */
    background-color: #8c9dbd;
    height: 80px;
    width: 100%;
    
}
img{
    position: relative;
    top: 35px;
    left: 60px;
}
ul{
    display: flex;
    gap: 74px;
    cursor: pointer;
    
}
ul li{
    list-style-type: none;
    font-size: 22px;
    
}
ul li:hover{
    color: whitesmoke;
    transition: 1s ease;
    font-size: 25px;
    text-decoration: underline;
}
.div2{
    margin: auto;
}
.main{
    height: 650px;
    width: 75%;
    background-color:rgb(201, 200, 200);
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    display: flex;

}
.dash{
    height: 450px;
    width: 20%;
    background-image: linear-gradient(to right,rgb(132, 143, 173),rgb(210, 224, 228));
    position: relative;
    top: 10%;
    margin-left: 40px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;

}
.dash input{
    width: 65%;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color:rgb(55, 24, 83);
    color: white;
    border-radius: 8px;
    position: relative;
    top: 15%;
    cursor: pointer;
}
.addEmployer{
    width: 70%;
    height: 450px;
    position: relative;
    top: 10%;
    left: 2%;

    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to right,rgb(167, 175, 199),rgb(100, 106, 107));

}
.addEmployer table tr{
    background-color: white;
    color: black;
}
.addEmployer table {
   width: 90%;
   margin-left: -250px;
}
.addEmployer table tr td input{
    height: 26px;
    font-size: 20px;
    width: 100%;
}
.addEmployer table tr th{
    background-color: rgb(71, 71, 119);
    height: 30px;
    /* width: 25%; */
    color: rgb(243, 243, 59);
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
}
.ipfeild td input{
    border: none;
    box-sizing: border-box;
    /* padding: 8px 12px; */
    font-size: 23px;
  
    text-align: center;
    height: 100%;
    border: none;
    

}
.ipfeild td input:hover{
    background-color: aquamarine;
}

#addemp{
    display: none;
}
#addemp:target{
    display: block;
}
.viewEmployer{
    width: 60%;
    height: 450px;
    position: relative;
    top: 10%;
    left: 2%;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to right,rgb(167, 175, 199),rgb(100, 106, 107));


}
.viewEmployer table {
    width: 90%;
    position: relative;
    left: -15px;
}

.viewEmployer table tr th{
    background-color: rgb(71, 71, 119);
    height: 30px;
    width: 25%;
    color: rgb(243, 243, 59);
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    top: 20px;
    left: 10%;

}
#vwemp{
    display: none;
}
#vwemp:target{
    display: block;
}
.remEmployer{
  width: 60%;
    height: 450px;
    position: relative;
    top: 10%;
    left: 2%;
    padding: 10px;
    border-radius: 20px;
    background-image: linear-gradient(to right,rgb(167, 175, 199),rgb(100, 106, 107)); 


}
.remEmployer table th{
    background-color: rgb(71, 71, 119);
    height: 30px;
    width: 25%;
    color: rgb(243, 243, 59);
    font-size: 22px;
    font-weight: bold;
    font-family: sans-serif;

}
table{
    position: relative;
    left:35%;
    top:5%;
}
#rmemp{
    display: none;
}
#rmemp:target{
    display: block;
}