body{
    background-image:url(../images/jobback.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 0;
    
   
    

    

    }
/* Nav Bar Style */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 10px; */
    background-image: linear-gradient(to top,#8c9dbd,rgb(43, 42, 42));
    height: 80px;
    width: 100%;
    
}
img{
    position: relative;
    top: 35px;
    left: 60px;
}
ul{
    display: flex;
    gap: 74px;
    cursor: pointer;
    
}
ul li{
    list-style-type: none;
    font-size: 22px;
    
}
ul li:hover{
    color: whitesmoke;
    transition: 1s ease;
    font-size: 25px;
    text-decoration: underline;
}
.div2{
    position: relative;
    margin-right: 40%;
}
.maindiv{
    height: 700px;
    width: 60%;
    background-color: rgb(201, 200, 200);
    margin: auto;
    position: relative;
    top: 50px;
    display: flex;
    border-radius: 20px;
}

.dashb{
    position: relative;
    top: 5%;
    left: 5%;
    height: 600px;
    width: 20%;
    background-image: linear-gradient(to right,rgb(210, 224, 228),rgb(132, 143, 173));
   text-align: center;
   padding-top: 30px;
   border-radius: 15px;
}
.dashb input{
    width: 75%;
    height: 35px;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    border-radius: 12px;

    
}
.dashb input:hover{
    opacity: .7;
    border: 2px solid white;
}
.dashcnt{
    height: 600px;
    width: 65%;
    background-image: linear-gradient(to right,rgb(132, 143, 173),rgb(210, 224, 228));
    position: relative;
    left: 10%;
    top: 5%;
    padding-top: 30px; 
    border-radius: 15px;
   
}
.dashcnt label{
    font-size: 20px;
    font-family: sans-serif;

}
#dashprofile{
    display: none;
}

#dashprofile:target{
   display: block;
}
.details{
    position: relative;
    left: 10%;
   
    
}
.details input{
    height: 25px;
    width: 40%;
    
}
.edu tr th{
    padding: 15px;
    border: 1px dotted;

}
#eduTable{
    border: 1px dotted;
    
}

.new-row  input{
    height: 25px;
    background-color: white;
    border: none;
    box-sizing: border-box;
    padding: 8px 12px; 
    font-size: 18px;
    width: 30%;
    text-align: center;
    margin-left: 30%;
    
}

.canHome{
    height: 320px;
    width: 40%;
    background-image: linear-gradient(to right,rgb(132, 143, 173),rgb(210, 224, 228));
    border-radius: 20px;
    position: relative;
    top: 15%;
    left: 10%;
    padding: 20px;


}
#cnhome{
   display: none;
}
#cnhome:target{
   display: block;
}

.srfchJob{
    height: 320px;
    width: 40%;
    background-image: linear-gradient(to right,rgb(132, 143, 173),rgb(210, 224, 228));
    position: relative;
    top: 15%;
    left: 10%;
    padding: 20px;
    border-radius: 20px;
}
.srfchJob input,label{
    font-size: 18px;
    font-family: sans-serif;
    height: 22px;

}
#srchdiv{
    display: none;
}
#srchdiv:target{
    display: block;
}
.savedJob{
    height: 320px;
    width: 40%;
    background-image: linear-gradient(to right,rgb(132, 143, 173),rgb(210, 224, 228));
    border-radius: 20px;
    position: relative;
    top: 15%;
    left: 10%;
    padding: 20px;


}
#svjob{
    display: none;
}
#svjob:target{
    display: block;
}
.myappl{
    height: 320px;
    width: 40%;
    background-image: linear-gradient(to right,rgb(132, 143, 173),rgb(210, 224, 228));
    border-radius: 20px;
    position: relative;
    top: 15%;
    left: 10%;
    padding: 20px;

}
#appli{
    display: none;
}
#appli:target{
    display: block;
}