

body{
    background-image:url(../images/jobback.jpg);
    background-repeat: no-repeat; 
    background-size: cover;
    margin: 0;

    

    

    }
/* Nav Bar Style */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 10px; */
    background-color: #8c9dbd;
    height: 80px;
    width: 100%;
    
}
img{
    position: relative;
    top: 35px;
    left: 60px;
}
ul{
    display: flex;
    gap: 74px;
    cursor: pointer;
    
}
ul li{
    list-style-type: none;
    font-size: 22px;
    
}
ul li:hover{
    color: whitesmoke;
    transition: 1s ease;
    font-size: 25px;
    text-decoration: underline;
}
.div2{
    display: flex;
}
.list2{
    display: none;
    position: absolute;
    right: 165px;
    top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 0;
    margin: 0px;
    border-radius: 15px;
    
}
.list2 li {
    padding: 12px 16px;
    text-align: left;
    cursor: pointer;
}
.list2 li:hover {
    background-color: #a5a0a0;
    transition: 1s ease;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border-radius: 15px;
}
.list1:hover .list2,
.list2:hover {
    display: block;
}


.btn1{
    background-color: rgb(62, 74, 231);
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    right: 180px;
    cursor:pointer;
    display: inline-block;
}

/* end of navbar style  */

.main1{
    font-size: 30px;
    background: linear-gradient(rgb(226, 231, 235), rgb(187, 199, 199));
    margin-top: -37px;
    width: 100%;

}
.with{
    position: relative;
    left: 20%;
}
.input1{
    height: 46px;
    width: 60%;
    margin-top: 10px;
    margin-left: 23px;
    text-align:center;
    border: 1px solid ;
    border: none;
    border-radius: 18px;
    /* border-radius: 20px; */
    /* box-shadow: 2px 2px 70px 1px rgb(211, 221, 221); */
    font-size: 25px;
    font-style: italic;
}
.input1:hover {
    border: 2px solid;
    border-radius: 20px;
    border-color:  rgb(62, 74, 231);
}
button:hover{
    background: transparent;
    color: blue;
    transition: 2s ease;
}
.cntrdiv{
    height: 40cap;
    width: 40%;
   /* background-color:linear-gradient(#8c9dbd blue); */
  

    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;

   
  

}
.cntrdiv:hover{
    background: transparent;
    border: 3px solid white;
    transition: 2s ease-in;
    background-color:#292828;
    
 

    
    /* background: linear-gradient(rgb(61, 124, 105), rgb(19, 89, 146)); */
}
.srchbtn{
    position: relative;
    left: 5%;
    

}
a{
    text-decoration: none;
    color: black;
}
.logindiv{
    height: 550px;
    width: 25%;
    /* text-align: center; */
    margin-left: 30px;
    background-color: whitesmoke;
    float: right;
    position: relative;
    top: -430px;
    padding-left: 30px;
    line-height: 2;
    border-radius: 25px;
    
    
    
}
#logDiv{
    display: none;
}

#emplog{
    display: none;
}
#emplog:target{
    display: block;
}

.inplog{
    height: 30px;
    width: 73%;
    border: none;
    background-color: #c5bfbf;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;

}
.logbtn{
    height: 35px;
    width: 73%;
    border: none;
    background-color: #6e788a;
    color: whitesmoke;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-radius: 15px;

}
.inplabel{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#logDiv:target{
    display: block;
}

@keyframes blink {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

.cndReg{
    height: 700px;
    width: 30%;
    font-size: 20px;
    /* margin-left: 30px; */
    background-color: whitesmoke;
    float: right;
    position: relative;
    top: -430px;
    padding-left: 30px;
    line-height: 2;
    border-radius: 25px;
    
}
#canReg{
    visibility: hidden;
}
.cndReg input{
    width: 65%;
    height: 30px;
    border: none;
    border-radius: 12px;
    background-color:#6e788a ;
    font-size: 20px;
    margin-left: 8px;
    text-align: center;
    
    
}
#canReg:target{
    visibility: visible;
}

.cndReg input:hover{
    border: 2px solid rgb(0, 0, 250);
}














